header {
  .sect-container {
    max-width: 1300px;
    margin: auto;
    .row {
      background-color: silver;
      @include flex(space-between, center);
      // flex-direction: row;
      height: 115px;
      padding: 0 68px;
      a {
        img {
          width: 212px;
        }
      }
      nav {
        ul {
          @include flex(space-between, center);
          gap: 10px;
          list-style: none;
          font-family: "Roboto", sans-serif;
          i {
            font-size: 24px;
            // font-weight: 500;
          }
          .pages-group {
            font-size: 13px;
            font-weight: 900px;
            position: relative;
            .general-page {
              text-decoration: none;
              color: black;
              margin: 0 25px;
              &::after {
                content: "";
                position: absolute;
                left: 25px;
                top: 14px;
                background-color: rgb(93, 93, 93);
                height: 2px;
                width: 0;
                transition: 0.5s;
              }
              &:hover::after {
                width: calc(100% - 50px);
              }
            }
            .icon-p-link {
              @include flex(space-between, center);
              gap: 20px;
            }
            button {
              border: none;
              background-color: transparent;
            }

            .dropdown {
              background-color: blue;
              display: none;
              position: absolute;
              top: 64px;
            }
            
            &:hover .dropdown {
              display: flex;
              text-align: center;
              ul {
                gap: 40px;
                flex-direction: column;
              }
            }
            
          }
        }
      }
    }
  }
}
