header {
    .sect-container {
        max-width: 1300px;
        margin: auto;
      .sect-content {
        background-color: silver;
        @include flex(space-between, center);
        height: 115px;
        padding: 0 68px;
        a {
          img {
            width: 212px;
          }
        }
        nav{
            ul{
                @include flex(space-between, center);
                gap: 10px;
                list-style: none;
                i{
                    font-size: 24px;
                    // font-weight: 500;
                }
                li{
                    font-size: 13px;
                    font-weight: 900px;
                    font-family: 'Roboto', sans-serif;
                    a{
                        text-decoration: none;
                        color: black;
                        margin: 0 25px;
                    }
                    button{
                        border: none;
                        background-color: transparent;
                    }
                    div{
                        a{
                            display: flex;
                            gap: 20px;
                        }
                    }
                }
            }
        }
      }
    }
  }